body {
  margin: 0;
  padding: 0;
  background: #F1F1F1;
  position: static;
}

.loginForm {
    /* overflow:hidden; */
    top: 70px;
    position: fixed;
    font-family: 'Ropa Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 100%;
    height: auto;


    background-color: #ac7339;
    opacity: 0.6;
    background-image: url('../components/assets/main_bg_top_2.png');
    box-shadow: 0px 5px 20px lightgrey;
    padding: 2%;
    border-radius: 20px; 
} 

label {
    font: 400 13.3333px Arial;
    margin-right: 10px;
    
}
div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

input {
    height: 2em;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    display: flex;;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: flex-start;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
} 

/*.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background: #693935;
    color: white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
} */

.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background: #693935;
    color: white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    opacity: 1!important;
} 

.submitButton{
    top: 20px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase!important;
    letter-spacing: 2px;
    color: #fff;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #fff;
    border-radius:50px;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index: 10;
}


.submitButton:hover{
    opacity: 1!important;
    border: 1px solid #693935;
    color: #80ffd3!important;
}
.submitButton::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background:#693935;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
     box-shadow:2px 0px 14px rgba(0,0,0,.6);
  } 

.submitButton::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #FFE6B3;
    position: absolute;
  -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.submitButton:hover::before, .btn1O:hover::before{
  opacity: 1!important;
  width: 116%;
}
.submitButton:hover::after, .btn1O:hover::after{
  opacity: 1!important;
  width: 120%;
}
@media screen and (min-width: 600px) {
    .loginForm {
        width: 70%;
        left: 15%;
        right: 15%;
    }

}
@media screen and (max-width: 599px) {
    .loginForm {
        width: 95%;
    }
}