

.navBar1 {

  /* background-color: #693935; */
  background-image: url("../components/assets/main_bg_top_2.png");
  /* background-image: url("/Users/Vic/Desktop/aA/react_tunes/react_tunes/frontend/src/marbles.jpeg"); */
  /* background-position: center right; */
  position: sticky;
  top: 0px; 
  width: 100%;
  margin-left: 0px;
  /* z-index: 5; */
}


li {
  margin-left: 10px;
  color: white;
  display: inline-block;
}

.profilebutton {
  display: inline-block;
  height: 70px;
  width: 100px;
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgb(189 0 38);
  border-radius: 10px;
}