

.navBar1 {

  /* background-color: #693935; */
  background-image: url("../components/assets/main_bg_top_2.png");
  /* background-image: url("/Users/Vic/Desktop/aA/react_tunes/react_tunes/frontend/src/marbles.jpeg"); */
  /* background-position: center right; */
  position: sticky;
  top: 0px; 
  padding-top: 0;
  width: 100%;
  margin-left: 0px;
  z-index: 5;
}
/* .demoFormContainer {

} */
.loginNavBar {
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase!important;
    letter-spacing: 2px;
    color: #fff;
}
.demoSign {
  color:saddlebrown;
  margin-left: 30px;
  border: 3px solid saddlebrown;
  border-radius:50px;
  letter-spacing: 2px;
  background: transparent;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase!important;
  letter-spacing: 2px;

}
.logoName {
  top: 30px;
  height: 50px;
  padding-left: 200%;
  opacity: 0.7;
}
li {
  margin-left: 10px;
  color: white;
  display: inline-block;
}
.loginNavBar > a{
  color:saddlebrown;
}
/* 
.loginNavBar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    color:saddlebrown;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    opacity: 1!important;
}  */

.profilebutton {
  display: inline-block;
  height: 70px;
  width: 100px;
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgb(189 0 38);
  border-radius: 10px;
}