.orderForm {
    top: 70px;
    /* position: fixed; */
    font-family: 'Ropa Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 100%;
    height: auto;


    background-color: #ac7339;
    opacity: 0.6;
    background-image: url('../components/assets/main_bg_top_2.png');
    box-shadow: 0px 5px 20px lightgrey;
    padding: 2%;
    border-radius: 20px; 
} 

.selectService {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

br {
    margin: 5px;
}



.spacemaker {
    width: 10px;
}



