.profileLayout {
    top: 70px;
    position: absolute;
    z-index: -2;
    display: flex;
    flex-direction: column;
}

.orderRender {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Ropa Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 100%;
    height: auto;


    background-color: #ac7339;
    opacity: 0.6;
    background-image: url('../components/assets/main_bg_top_2.png');
    box-shadow: 0px 5px 20px lightgrey;
    padding: 2%;
    border-radius: 20px;
}

.editButton {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    font-size: 20px;
    background-color: brown;
    /* font: black; */
}

.deleteButton {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
    width: 80px;
    font-size: 20px;
    background-color: brown;
    /* font-color: black; */
}

.orderForm {
    top: 70px;
    /* position: fixed; */
    font-family: 'Ropa Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 100%;
    height: auto;


    background-color: #ac7339;
    opacity: 0.6;
    background-image: url('../components/assets/main_bg_top_2.png');
    box-shadow: 0px 5px 20px lightgrey;
    padding: 2%;
    border-radius: 20px; 
} 

/* 
.fas {
    color: black;
} */
body {
    overflow:scroll;
}