body {
    background-image: url("../components/assets/splash.jpg");
}

.logo_img {
    height: 150px;
    width: 150px;
}

div {
    position: static;
    margin-top: 10%;

    display: flex;
    flex-direction: column;
    /* align-self: center; */
    justify-content: center;
    align-items: center;
}