body {
    background-image: url("../components/assets/splash.jpg");
}

.logo_img {
    height: 150px;
    width: 150px;
    border-radius: 50%; 
    /* object-fit */
}

.splashDiv {
    position: static;
    margin-top: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}