body {
    background-image: url("../components/assets/splash.jpg");
    /* opacity: 0.6; */
}

.logo_img {
    height: 150px;
    width: 150px;
    border-radius: 50%; 
    /* object-fit */
}

.splashDiv {
    position: static;
    margin-top:5%;
    top: 150px;
    bottom: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}